<template>
  <section>
    <img src="/kiesel.svg" class="logo" />
    <h1>
      <span class="text-accent">Kiesel</span> is a small, well-rounded JS
      engine.
      <span class="text-accent">*</span>
    </h1>
    <em>
      <span class="text-accent">*</span> At least that's the goal, currently
      work in progress
      <img
        src="https://cdn.discordapp.com/emojis/866030445388365884.png"
        height="24"
        style="vertical-align: bottom"
      />
    </em>
    <p class="buttons">
      <a
        class="button button-blog"
        href="https://linus.dev/posts"
        target="_blank"
      >
        <img src="https://linus.dev/images/avatar-140x140.webp" />
        Read Devlogs
      </a>
      <a
        class="button button-youtube"
        href="https://www.youtube.com/@LinusGroh"
        target="_blank"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/0/09/YouTube_full-color_icon_%282017%29.svg"
        />
        Watch Recordings
      </a>
    </p>
  </section>
</template>

<style scoped>
section {
  color: var(--color-primary-text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

h1 {
  font-size: 36px;
  text-wrap: balance;
  margin: 40px 0;
}

.logo {
  max-height: max(min(250px, 25vw), 150px);
}

.buttons {
  margin-top: 80px;
  display: flex;
  gap: 20px;
}

.button {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.button img {
  width: 24px;
  margin-right: 10px;
}

.button-blog {
  color: #ffffff;
  background: #222222;
}

.button-youtube {
  color: #282828;
  background: #ffffff;
}
</style>
