<script setup lang="ts">
import { reactive, ref, watchEffect } from "vue";
import { Kiesel } from "../kiesel";
import Editor from "../components/Editor.vue";
import Terminal from "../components/Terminal.vue";

const EXAMPLE_CODE = `function add(a, b) {
    return a + b;
}

Kiesel.print(add(1, 2));
`;

type State = "loading" | "ready" | "error";
const state = ref<State>("loading");

const source = ref(
  window.location.hash ? atob(window.location.hash.slice(1)) : EXAMPLE_CODE,
);
const terminal = reactive({
  command: "",
  stdout: "",
  stderr: "",
  meta: "",
});

watchEffect(() => {
  if (source.value) {
    window.location.hash = `${btoa(source.value)}`;
  } else {
    history.replaceState(null, "", " ");
  }
});

const kiesel = new Kiesel(import.meta.env.VITE_KIESEL_WASM_URL);
kiesel
  .init()
  .then(() => {
    state.value = "ready";
  })
  .catch((error) => {
    console.error(error);
    state.value = "error";
  });

const run = async () => {
  terminal.command = "kiesel file.js";
  const result = await kiesel.run({ source: source.value });
  terminal.stdout = result.stdout;
  terminal.stderr = result.stderr;
  terminal.meta = `[exit code: ${
    result.exitCode
  }, duration: ${result.durationMs.toFixed(2)}ms]`;
};
</script>

<template>
  <p v-if="state === 'loading'">Loading...</p>
  <p v-else-if="state === 'error'">Error while initializing Wasm runtime!</p>
  <template v-else>
    <p>
      <button :onClick="run">Run</button>
    </p>
    <div class="split">
      <Editor class="editor" v-model="source" />
      <Terminal
        class="terminal"
        :command="terminal.command"
        :stdout="terminal.stdout"
        :stderr="terminal.stderr"
        :meta="terminal.meta"
      />
    </div>
  </template>
</template>

<style scoped>
button {
  color: #ffffff;
  background: #0f9743;
}

button:hover,
button:active {
  background: #0c7936;
}

p {
  margin-bottom: 20px;
}

.editor,
.terminal {
  height: 400px;
}

.split {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}

@media (max-width: 800px) {
  .split {
    display: flex;
    flex-direction: column;
  }
}
</style>
