<script setup lang="ts">
import { onBeforeUnmount, onMounted, ref } from "vue";
import * as monaco from "monaco-editor";

const model = defineModel<string>();

const elementRef = ref<HTMLElement>();
let editor: monaco.editor.IStandaloneCodeEditor | null = null;

// https://github.com/microsoft/monaco-editor/blob/main/docs/integrate-esm.md#using-vite
self.MonacoEnvironment = {
  async getWorker() {
    // We're always using TS
    const worker = await import(
      "monaco-editor/esm/vs/language/typescript/ts.worker?worker"
    );
    return new worker.default();
  },
};

const prefersColorSchemeDark = window.matchMedia(
  "(prefers-color-scheme: dark)",
);

const updateEditorTheme = (event: MediaQueryListEvent) => {
  editor!.updateOptions({ theme: event.matches ? "custom-dark" : "vs-light" });
};

onMounted(() => {
  const element = elementRef.value!;
  monaco.editor.defineTheme("custom-dark", {
    base: "vs-dark",
    inherit: true,
    rules: [],
    colors: {
      "editor.background": "#23232a",
    },
  });

  monaco.languages.typescript.javascriptDefaults.addExtraLib(
    `
    interface Kiesel {
      createIsHTMLDDA(): object;
      createRealm(): object;
      detachArrayBuffer(arrayBuffer: ArrayBuffer): void;
      evalScript(sourceText: string): unknown;
      gc: {
        collect(): void;
      };
      print(value: unknown, options?: { pretty: boolean; }): void;
      readFile(path: string): string;
      readLine(): string;
      readStdin(): string;
      sleep(milliseconds: number): void;
      writeFile(path: string, contents: string): void;
    }

    const Kiesel: Kiesel;
    `,
    "ts:kiesel.d.ts",
  );

  editor = monaco.editor.create(element, {
    value: model.value,
    language: "javascript",
    automaticLayout: true,
    theme: prefersColorSchemeDark.matches ? "custom-dark" : "vs-light",
  });
  editor.getModel()!.onDidChangeContent(() => {
    model.value = editor!.getValue();
  });
  prefersColorSchemeDark.addEventListener("change", updateEditorTheme);
});

onBeforeUnmount(() => {
  editor!.dispose();
  prefersColorSchemeDark.removeEventListener("change", updateEditorTheme);
});
</script>

<template>
  <div ref="elementRef"></div>
</template>
