<script setup lang="ts">
defineProps<{
  command: string;
  stdout: string;
  stderr: string;
  meta: string;
}>();
</script>

<template>
  <section class="terminal">
    <pre>
<span class="prompt">$</span> {{ command }}
<span v-if="stdout">{{ stdout }}</span><span v-if="stderr" class="error">{{ stderr }}</span>
<span class="meta">{{ meta }}</span></pre>
  </section>
</template>

<style scoped>
.terminal {
  background: var(--color-terminal);
  color: var(--color-terminal-text);
  font-family: var(--font-family-monospace);
  font-size: 16px;
  border-radius: 10px;
  padding: 20px;
}

.prompt {
  color: var(--color-primary);
}

.error {
  color: #f93939;
}

.meta {
  color: #aaaaaa;
}

pre {
  margin: 0;
  overflow: auto;
  max-height: 100%;
}
</style>
