<script setup lang="ts">
import { computed } from "vue";
import { useRoute } from "vue-router";

const route = useRoute();
const isIndex = computed(() => route.path === "/");

const urls = {
  docs: import.meta.env.VITE_KIESEL_DOCS_URL,
  download: import.meta.env.VITE_KIESEL_DOWNLOAD_URL,
  source: import.meta.env.VITE_KIESEL_SOURCE_URL,
  test262: "https://test262.fyi/#|kiesel",
};
</script>

<template>
  <header>
    <img v-if="!isIndex" src="/kiesel.svg" />
    <nav>
      <router-link to="/">Home</router-link>
      <router-link to="/playground">Playground</router-link>
      <a :href="urls.download" target="_blank">Download</a>
      <a :href="urls.source" target="_blank">Source</a>
      <a :href="urls.docs" target="_blank">Docs</a>
      <a :href="urls.test262" target="_blank">test262</a>
    </nav>
  </header>
  <main :class="isIndex ? 'bg-primary' : ''">
    <router-view />
  </main>
</template>

<style scoped>
header {
  display: flex;
  position: fixed;
  width: 100%;
  background: var(--color-primary);
  z-index: 100;
}

header img {
  height: 60px;
  margin: 10px 20px;
}

nav {
  margin: 20px 20px 20px auto;
  display: flex;
  justify-content: right;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 100px;
  color: var(--color-primary-text);
  transition: background 0.1s ease-in-out;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.4);
}

nav a.router-link-active {
  font-weight: bold;
  color: var(--color-accent);
}

main {
  padding: 100px 20px 20px 20px;
  min-height: 100vh;
}

@media (max-width: 600px) {
  header {
    position: relative;
  }

  header,
  nav {
    flex-direction: column;
  }

  img,
  nav {
    margin: 10px;
  }

  main {
    padding: 10px;
  }
}
</style>
