:root {
  --color-primary: #0073d5;
  --color-primary-text: #ffffff;
  --color-accent: #f7e018;
  --color-background: #ffffff;
  --color-text: #000000;
  --color-terminal: #111111;
  --color-terminal-text: #ffffff;
  --font-family-monospace: monospace;

  font-family: "Inter", sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #23232a;
    --color-text: #ffffff;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-accent {
  color: var(--color-accent);
}

.bg-primary {
  background: var(--color-primary);
}

button,
a.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
